---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';


function reverseDate(dateStr:string) {
  const stripped = dateStr.replace(/\./g, "");
  const num = Number(stripped);
  const reversed = num.toString().split("").reverse().join("");
  const val = Number(reversed)
  return val;
}

const posts = (await getCollection('blog')).reverse() // from the newest



---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				padding: unset;
			}
			ul div {
				display: flex;
				gap: 1rem;
			}
			ul div :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
				
			}
			ul div a:visited {
				color: #8e32dc;
			}
			.dates {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
				
			}
			span{
				display: block;
				margin-top: 0.5rem;
				margin-bottom: 1rem;
				margin-left: 1rem;
				padding-left: 0.5rem;
				border-left: #4aa5e6 2px solid;
			}
			.cath{
				text-decoration: none;
			} > a{
				text-decoration: none;
				color: #595959;
			}
		</style>
	</head>
	<body>
		<Header />
		<!-- <div class="cath">
		<a onclick="sortCath()" class="cath" href="/blog">All |</a>
		<a class="cath" href="/blog">History and Politics |</a>
		<a class="cath" href="/blog">Tech and Math</a>
		</div> -->
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<div>
								<FormattedDate class="dates" date={post.data.pubDate} />
								
								<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
							</div>
							<span>{post.data.description}</span>
						))
					}
				</ul>
			</section>
		</main>
		
		<Footer />
	</body>
</html>
